#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  width: 400px;
  height: 400px;
  border: 2px solid black;
}

.square {
  width: 50px;
  height: 50px;
}

.white {
  background-color: #f0d9b5;
}

.black {
  background-color: #b58863;
}
